
@font-face{
    font-family: "tasa";
    src: url(asset/fonts.ttf) format("truetype");
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f8f6;
   
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5%;
    border-color: black;
    box-shadow: 10px 10px 20px #adc9b4;
    width: 300px;
    background:linear-gradient(135deg, #87b0a4, #539682);
    border-radius: 10px;
    font-family:"tasa"

}
.label{
    align-self: flex-start;
    margin-bottom: -5px;
    margin-left: -10px;
    color:black;
    opacity: 0.4;
    font-size: smaller;
}
input{
    flex: 1;
    width: 100%;
    background-color:honeydew;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 6px;
    box-shadow: 1px 1px 3px rgb(219, 235, 219);
}
input::placeholder{
    font-family:"tasa";
}
.submit{
    margin-top: 10px;
    border: none;
    width: 50%;
    height: 35px;
    color: aliceblue;
    background-color:#a49c74;
    border-radius: 10px;
    font-family:"tasa"sans-serif;
    box-shadow: 2px 2px 3px #8e8763;
    font-weight: bold;
}
.create{
    align-self: flex-start;
    margin-bottom: 10px;
    margin-left: -10px;
    font-size: small;
}
.login{
empty-cells: hide;}